.modalContainer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
}

.commentModal {
  height: 200px;
  width: 750px;
  margin: 150px 0 0 -230px;
  border-radius: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .twitList {
    display: flex;
    margin-top: 65px;
    margin-left: 20px;
    border: none;

    .profileImg {
      img {
        margin-top: 13px;
        height: 53px;
        width: 53px;
        border-radius: 50px;
      }
    }

    .twitContent {
      margin-left: 15px;

      .userInfo {
        width: 400px;
        display: flex;
        margin-bottom: 15px;

        .nickname {
          font-weight: 700;
          margin-right: 5px;
        }

        .userid {
          color: gray;
          margin-right: 5px;
        }

        .time {
          color: gray;
        }
      }

      .twitImg {
        img {
          width: 90%;
          height: 300px;
        }
      }

      .twitText {
        margin-bottom: 15px;
        line-height: 130%;
      }

      .twitFooter {
        display: flex;
        justify-content: space-between;
        margin-top: 25px;
        margin-bottom: 15px;

        .comment {
          display: flex;
          align-items: center;

          .commentImg {
            width: 20px;
            height: 20px;
          }

          .commentCount {
            margin-left: 6px;
          }
        }

        .retweet {
          display: flex;
          align-items: center;

          .retweetImg {
            width: 20px;
            height: 20px;
          }

          .retweetCount {
            margin-left: 7px;
          }
        }

        .like {
          display: flex;
          align-items: center;
          margin-right: 30px;

          img {
            width: 20px;
            height: 20px;
            margin-right: 5px;
            margin-bottom: 2px;
          }
        }
      }
    }
  }

  .replyingTo {
    margin-top: 10px;
    margin-left: 92px;
    color: gray;
    font-size: 17px;
    display: flex;

    .userId {
      color: #4393cd;
      margin-left: 10px;
    }
  }

  .twitInput {
    height: 189px;
    display: flex;
    padding: 0px 16px;

    .writerProfileImg {
      img {
        height: 53px;
        width: 53px;
        padding: 3px;
        margin-top: 25px;
        border-radius: 50px;
        border: 1px solid black;
      }
    }

    .inputContent {
      margin-left: 12px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;

      .inputText {
        margin-top: 25px;

        input {
          font-size: 30px;
          height: 55px;
          width: 90%;
          border: none;
        }

        input:focus {
          outline: none;
        }
      }

      .inputFooter {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5px;

        .uploadContents {
          display: flex;

          .uploadImg {
            height: 36px;
            width: 36px;
            padding: 6px;
            filter: opacity(0.4) drop-shadow(0 0 0 blue);

            .inputForImg {
              display: none;
            }
          }
          .uploadGIF {
            height: 36px;
            width: 36px;
            padding: 3.3px;
            margin-left: 7px;
            filter: opacity(0.4) drop-shadow(0 0 0 blue);
          }
          .uploadEmogi {
            height: 36px;
            width: 36px;
            padding: 4.4px;
            margin-left: 7px;
            filter: opacity(0.4) drop-shadow(0 0 0 blue);
          }
          .uploadLocation {
            height: 36px;
            width: 36px;
            padding: 5px;
            filter: opacity(0.4) drop-shadow(0 0 0 blue);
          }
        }

        .twitBtn {
          font-size: 15px;
          color: white;
          height: 34px;
          width: 75px;
          background-color: #99cff8;
          display: flex;
          justify-content: center;
          align-items: center;
          border: none;
          border-radius: 45px;
        }
      }
    }
  }
}
