.LoginModalBody {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 110px;
  right: 15vw;
  background: white;
  border: 1px solid rgb(192, 192, 192);
  border-radius: 10px;
  width: 550px;
  height: 500px;

  img {
    margin-top: 20px;
    width: 30px;
    height: 30px;
  }

  .LoginInput {
    width: 350px;
    height: 50px;
    margin-top: 80px;
    padding-left: 10px;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 10px;
  }

  .PwInput {
    width: 350px;
    height: 50px;
    margin-top: 10px;
    padding-left: 10px;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 10px;
  }

  button {
    margin-top: 20px;
    width: 350px;
    height: 40px;
    border: 0px;
    border-radius: 20px;
  }

  .NextBtn {
    background: #000;
    color: white;
  }

  .PasswordBtn {
    background: rgb(255, 255, 255);
    border: 1px solid rgb(192, 192, 192);
  }

  p {
    position: absolute;
    bottom: 30px;
  }
  
  span {
    display: inline;
  }

  a {
    text-decoration: none;
    color: rgb(108, 156, 215);
  }
}
