.LoginBody {
  display: flex;
  width: 100vw;

  .LoginVisual {
    flex: 1 1 auto;
  }

  .LoginMainImg {
    width: 55vw;
    height: 100vh;
    object-fit: cover;
  }

  .LoginText {
    width: 44vw;
    padding: 50px 30px;
    white-space: nowrap;

    h1 {
      margin-top: 40px;
      font-size: 60px;
      font-weight: 900;
    }

    h2 {
      color: rgba(0, 0, 0, 0.829);
      margin-top: 40px;
      font-size: 35px;
      font-weight: 700;
    }
  }
}
