.profile {
    display: flex;
    flex-direction: column;
    position: relative;
    padding:10px ;

    .profile-image{
        width: 130px;
        height: 130px;
        border-radius: 70px;
        object-fit: cover;
        border: 5px solid white;
        z-index: 10;
        position: absolute;
        top: 235px;
    }

    .profile-background {
        width: 100%;
        height: 300px;
        object-fit: cover;
        z-index: 5;
        position: fixed;
        top: 0;
        left: 0;
    }

.profile-edit-button{
    all:unset;
    position: absolute;
    top : 330px;
    right: 30px;
    border : 1px solid silver;
    padding: 10px 30px;
    border-radius: 30px;
    font-weight: 700;

    cursor: pointer;

    &:hover {
     background-color:#eaeaea;
     transition: 0.3s;
    }
}

.profile-information {
    margin-top: 400px;
}

    .profile-text{
        display: flex;
        flex-direction: column;


        .profile-username {
            font-size: 20px;
            font-weight: 800;
        }
    }
}


.profile-menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    height: 40px;

    .profile-menu-item {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 700;
        color : #5B6B78;
        width: 100%;
        height: 100%;
        text-align: center;
        cursor: pointer;
        


        &:hover {
            background-color: #eaeaea;
            transition: 0.3s;
           }
}}

